.header{
  display: flex;
  justify-content: center;
  align-items: center;
  border:solid black;
}
.game{
  display: flex;
  justify-content: center;
  border:solid aqua;
  height: 50vh;
}
.game-board{
  position: absolute;
  border: solid red;
}
.square {
  background: greenyellow;
  float: left;
  font-size: 80px;
  font-weight: bold;
  height: 15vh;
  text-align: center;
  width: 15vh;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}